h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
p img {
  width: 200px;
  margin-bottom: 20px;
  @apply rounded-lg;
  text-align: center;
}
section > p {
  margin-top: 10px;
  padding: 25px;
}
