.home section {
  position: relative;
}
.home section .wp-block-cover__inner-container {
  @apply absolute inset-0 z-10 flex flex-col justify-center items-center text-2xl text-white p-3;
}

.home section .wp-block-cover__inner-container a {
  @apply bg-blue-500  text-white px-3 py-2 hover:bg-white hover:text-white decoration-slate-300 rounded-md hover:cursor-pointer;
}
.wp-block-cover {
  padding: 0 !important;
  height: 100vh;
}
.wp-block-cover__image-background {
  height: 100%;
}
.wp-block-cover__inner-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wp-element-button:hover {
  color: white;
}
.wp-block-heading {
  font-size: 3rem !important;
}
.wp-block-cover__image-background.wp-image-18.is-repeated {
  background-image: none !important;
}
.image-header {
  display: none;
}
